<?xml version="1.0" encoding="UTF-8"?>
<data>
    <!--Width and height of the window when the special characters panel is collapsed-->
    <OriginalX>300</OriginalX>
    <OriginalY>50</OriginalY>
    <!--Height of the window when the special characters panel is expanded-->
    <ExpandedY>170</ExpandedY>
    <!--The number of columns in the special characters panel-->
    <MaxColumnsNumber>7</MaxColumnsNumber>
    <!--Use Tkinter color chart names to setup the colors-->
    <MainColor>gray14</MainColor>
    <DropDownButtonColor>gray20</DropDownButtonColor>
    <DropDownButtonHoverColor>gray29</DropDownButtonHoverColor>
    <ButtonBorderColor>red3</ButtonBorderColor>
</data>