<?xml version="1.0" encoding="UTF-8"?>
<data>
    <!--Width and height of the window when the special characters panel is collapsed-->
    <OriginalX>1010</OriginalX>
    <OriginalY>400</OriginalY>
    <!--Use tkinter color chart names-->
    <MainColor>gray29</MainColor>
    <TextColor>gray5</TextColor>
    <ButtonBorderColor>red</ButtonBorderColor>
    <ButtonPressColor>orange</ButtonPressColor>
</data>